
<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="card-img-top" width="100%" height="250" src="assets/python.png">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">title</h5>
        <p class="card-text">link</p>
        <p class="card-text">記事内容</p>
      </div>
    </div>
  </div>
</div>